/** topography **/

@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;700&family=Nunito&family=Playfair+Display:wght@400;700&family=Rubik:ital,wght@0,400;0,700;1,300&display=swap');

:root {
    --primary-color: #fb923c;
    --grey-shade: #57534e;
    --off-white: #d4d4d4;
}


body {
    font-family: 'Edu NSW ACT Foundation', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Rubik', sans-serif;
}
    
hr{
    margin: 2rem 0rem;
}


/** containers**/

.container{
    padding: 1rem 1rem;
}

.container-center{
    max-width: 900px;
    margin: auto;
}


.link{
    text-decoration: none;
    padding:0.5rem;
}

.primary-link{
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;;
}

.secondary-link{
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
   color: var(--primary-color);
}

/** lists **/

.non-bullet{
    list-style: none;
}

.list-iteam-inline{
    display: inline;
    padding: 0rem 0.5rem;
}


/** nav **/

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 2rem;
}

.navigation .link{
    color: white;
}

.navigation .nav-pills{
    text-align: right;
}

.navigation .nav-brand{
    font-weight: bold;
}

.navigation .link-active{
    font-weight: bold;
}


/**header**/

.hero{
    padding: 2rem;
}

.hero-img{
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero-heading{
    padding: 2rem;
    color: var(--grey-shade);
    text-align: center;
}
.hero .hero-heading .heading-inverted{
    color: var(--primary-color);
}


/** section **/

.section{
    padding: 2rem;
}

.section h1{
    text-align: center;
   
}

.ow{
    background-color: var(--off-white);
}

/** footer **/

.footer{
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 2rem 1rem;
}

.footer .link{
    color:white;
}

.footer ul{
    padding-inline-start: 0px;
}