/** topography **/

@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;700&family=Nunito&family=Playfair+Display:wght@400;700&family=Rubik:ital,wght@0,400;0,700;1,300&display=swap');



body {
    font-family: 'Edu NSW ACT Foundation', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Rubik', sans-serif;
}
    

/** containers**/

.container{
    padding: 1rem 1rem;
}

.container-center{
    max-width: 900px;
    margin: auto;
}


